*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

body,
button,
input,
textarea,
select {
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

#root {
  min-height: 100vh;
}
